.create-page-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.447);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-page-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.error-message {
  color: red;
  font-size: 12px;
}

.success-message {
  color: green;
  font-size: 14px;
  text-align: center;
}

form label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

form button {
  padding: 12px 24px;
  background-color: #12c418c9;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #3acd41a4;
}

.react-quill {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.url-slug-container {
  margin-top: 20px;
}
