header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.21);
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

header a:hover {
  color: rgba(255, 255, 255, 1);
}

header .button-container {
  display: flex;
  gap: 10px;
}

header button {
  padding: 10px 20px;
  background-color: rgba(141, 141, 141, 0.1);
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  transform: scale(1);
}

header button:hover {
  transform: scale(0.95);
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(255, 255, 255, 0.9);
}
